</body>
   <footer class="page-footer black"> 
   
  <div class="iconsClass"><a href="https://www.flaticon.com/" title="Flaticon">  Icons made by  from www.flaticon.com</a></div>
  <div class="iconsClass"><a target="_blank"href="https://icons8.com"> icon byIcons8</div>

  </footer> 
</html?