</body>
   <footer class="page-footer black"> 
   <div class="logo">

     <a href="https://imgbb.com/"><img src="https://i.ibb.co/3TddLBx/stockwatchlogo.png" alt="stockwatchlogo" border="0" style="height: 100px;"></a>
   </div>
  </footer> 
</html?