<footer class="navbar fixed-bottom navbar-light bg-light page-footer">
  <div class="container=fuild">
    <!-- <a href="https://imgbb.com/"
      ><img
        src="https://i.ibb.co/3TddLBx/stockwatchlogo.png"
        alt="stockwatchlogo"
        border="0"
        height="80px"
    /></a> -->
  </div>
</footer>
