<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Stock Watch</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/traders">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profits">Profits</a>
        </li>
      </ul>
      <div>
      
          <% if (user) { %>
          <a href="/logout">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px"
            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
         <path style="fill:#A9A8AE;" d="M321.628,446.372c-63.339,0-122.346-31.372-157.846-83.917c-7.196-10.651-4.394-25.117,6.256-32.313
           c10.654-7.194,25.117-4.394,32.313,6.256c26.832,39.717,71.421,63.429,119.277,63.429c79.306,0,143.827-64.521,143.827-143.827
           c0-79.307-64.521-143.827-143.827-143.827c-47.998,0-92.66,23.819-119.471,63.716c-7.173,10.67-21.63,13.504-32.298,6.335
           c-10.667-7.17-13.503-21.63-6.335-32.298c35.475-52.784,94.579-84.298,158.104-84.298C426.598,65.628,512,151.028,512,256
           C512,360.971,426.598,446.372,321.628,446.372z"/>
         <path style="fill:#64C37D;" d="M349.088,232.727H79.458l30.09-30.089c9.089-9.089,9.089-23.824,0-32.912
           c-9.087-9.087-23.824-9.087-32.912,0L6.817,239.543c-0.034,0.034-0.062,0.071-0.096,0.105c-0.498,0.504-0.977,1.029-1.429,1.578
           c-0.14,0.169-0.258,0.351-0.391,0.523c-0.334,0.428-0.667,0.858-0.97,1.309c-0.099,0.152-0.185,0.313-0.284,0.467
           c-0.31,0.489-0.616,0.979-0.892,1.491c-0.061,0.112-0.106,0.231-0.166,0.344c-0.289,0.562-0.568,1.13-0.81,1.716
           c-0.033,0.079-0.057,0.163-0.092,0.244c-0.248,0.621-0.483,1.251-0.678,1.898c-0.026,0.087-0.042,0.175-0.067,0.262
           c-0.186,0.638-0.355,1.28-0.487,1.939c-0.039,0.199-0.057,0.402-0.092,0.602c-0.096,0.548-0.192,1.095-0.248,1.655
           C0.04,254.445,0,255.221,0,256c0,0.779,0.04,1.555,0.116,2.324c0.057,0.568,0.155,1.122,0.251,1.676
           c0.034,0.192,0.048,0.389,0.088,0.58c0.133,0.669,0.306,1.322,0.493,1.969c0.023,0.076,0.036,0.157,0.061,0.233
           c0.2,0.656,0.436,1.297,0.69,1.93c0.028,0.068,0.048,0.141,0.076,0.209c0.25,0.6,0.534,1.181,0.83,1.753
           c0.051,0.101,0.095,0.206,0.147,0.307c0.285,0.529,0.602,1.038,0.923,1.542c0.088,0.137,0.163,0.281,0.251,0.414
           c0.321,0.479,0.673,0.936,1.029,1.389c0.113,0.146,0.214,0.299,0.332,0.442c0.483,0.588,0.995,1.153,1.53,1.691l69.815,69.814
           c4.544,4.544,10.501,6.817,16.457,6.817s11.913-2.273,16.455-6.817c9.089-9.089,9.089-23.824,0-32.912l-30.089-30.089h269.63
           c12.853,0,23.273-10.42,23.273-23.273S361.941,232.727,349.088,232.727z"/>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         </svg>
            <i class="material-icons left">
            </i>
            <!-- Log Out -->
          </a>
          <% } else { %>
          <a href="/auth/google">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="30px" height="30px"><path fill="#72caaf" d="M42.82,45.11a18.48,18.48,0,0,1-28.55-7.87A56.84,56.84,0,0,0,6,43.6,28,28,0,0,0,50.62,51Z"/><path fill="#f9e3ae" d="M14.27,37.24A18.54,18.54,0,0,1,15.6,21a49.71,49.71,0,0,1-7.82-5.69A28,28,0,0,0,6,43.6C10,41,10,40,14.27,37.24Z"/><path fill="#ed7899" d="M15.23,21.68a18.47,18.47,0,0,1,27.18-6.1L48.7,9.3a28,28,0,0,0-40.91,6C10,17,12,18,15.23,21.68Z"/><path fill="#85cbf8" d="M58 36L56 43 51 52 44 46 47 41 47.44 36 32 36 32 27 58 27 58 36z"/><path fill="#8d6c9f" d="M57,26.2H33.35a2,2,0,0,0-2,2v7.22a2,2,0,0,0,2,2h13.6C45.15,44.66,39.63,48.7,31.21,48.7A17.92,17.92,0,0,1,13.14,31,17.92,17.92,0,0,1,31.21,13.22a18.28,18.28,0,0,1,10.43,3.25,2,2,0,0,0,1.17.37,2,2,0,0,0,1.48-.67l4.86-5.48a2,2,0,0,0-.3-2.94A29.83,29.83,0,0,0,31.21,2C14.95,2,1.72,15,1.72,31s13.23,29,29.49,29C47.83,59.92,59,48.62,59,31.81V28.2A2,2,0,0,0,57,26.2ZM31.21,4A27.94,27.94,0,0,1,47.65,9.36l-4.87,5.47a20.24,20.24,0,0,0-27.86,4.65L9,15.07A27.63,27.63,0,0,1,31.21,4ZM7.89,16.71l5.93,4.44a19.22,19.22,0,0,0-1.52,16.32L6.17,42.07A26.42,26.42,0,0,1,7.89,16.71Zm-.8,27.17,6-4.5A20.1,20.1,0,0,0,31.21,50.7a19.06,19.06,0,0,0,12-3.72l5.57,4.78c-4.44,3.93-10.47,6.16-17.58,6.16A27.59,27.59,0,0,1,7.09,43.88ZM57,31.81c0,7.61-2.47,14-6.77,18.55l-5.51-4.72a16.65,16.65,0,0,0,4.17-7.74,2,2,0,0,0-1.94-2.48H33.35V28.2H57Z"/><path fill="#8d6c9f" d="M16 31a1 1 0 0 0 1 1h2a1 1 0 0 0 0-2H17A1 1 0 0 0 16 31zM18 37.24a1 1 0 0 0 .37-.07l1.85-.75a1 1 0 0 0-.75-1.85l-1.85.75A1 1 0 0 0 18 37.24zM20.93 41.73a1 1 0 0 0 .69-.28l1.44-1.39a1 1 0 1 0-1.39-1.44L20.24 40a1 1 0 0 0 .69 1.72zM26.53 41a1 1 0 0 0-1.32.51l-.81 1.83a1 1 0 0 0 .51 1.32 1 1 0 0 0 .41.09 1 1 0 0 0 .91-.59L27 42.37A1 1 0 0 0 26.53 41zM19.5 27.43a1 1 0 0 0 .37.07 1 1 0 0 0 .37-1.93l-1.85-.75a1 1 0 0 0-.75 1.85zM23.06 21.95l-1.44-1.39A1 1 0 0 0 20.24 22l1.44 1.39a1 1 0 1 0 1.39-1.44zM27 19.63l-.81-1.83a1 1 0 1 0-1.83.81l.81 1.83a1 1 0 0 0 .91.59 1 1 0 0 0 .41-.09A1 1 0 0 0 27 19.63z"/></svg>
            <i class="material-icons left"
            
            >
          </i>
          <!-- Login with Google -->
        </a>
          <% } %>
        
      </div>
      
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search -->
      </button>
      </form>
    </div>
  </nav>
