body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(21, 241, 230, 0.966);
  margin: 0px;
}

a {
  display: flex;
  color: #ff8800;
  float: right;
  justify-content: center;
}
nav {
  background-color: grey;
  height: 50px;
  margin: 0px;
  padding: 0%;
}
h1 {
  display: flex;
  margin: 0%;
  color: #ff8800;
  float: left;
  justify-content: center;
}

form {
  display: flex;
  /* background-color: grey; */
  justify-content: center;
}

.nav-item2 {

  font-size: 20px;
}