html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(20, 33, 48, 0.815);
  margin: 0;
}

td {
  font-size: 20px;
}
input {
  font-size: 20px;
}

#showInput {
  font-size: 20px;
  width: 140px;
}

.page-footer {
  background-color: rgba(39, 54, 58, 0.63);
  color: whitesmoke;
  height: 50px;
  width: 100%;
}
