<%- include('../partials/header') %>
<title>title</title>
<form action="new-form">
  <ul>
    <li>num 1</li>
    <li>num 2</li>
    <li>num 3</li>
    <li>num 4</li>
  </ul>
</form>
<main>
  <h1><%= title %></h1>
  <% if (user) { %>
  <a href="/logout"><i class="material-icons left"></i>Log Out</a>
  <% } else { %>
  <a href="/auth/google"
    ><i class="material-icons left"></i>Login with Google</a
  >
  <% } %>
</main>
