<%- include('../partials/header') %>
<title>title</title>
<nav>
  <% if (user) { %>
  <a href="/logout"><i class="material-icons left"></i>Log Out</a>
  <% } else { %>
  <a href="/auth/google"
    ><i class="material-icons left"></i>Login with Google</a
  >
  <% } %>
</nav>
